@import "@fontsource/caudex/400.css";
@import "@fontsource/caudex/700.css";
@import "@fontsource/caudex/400-italic.css";
@import "@fontsource/caudex/700-italic.css";
@import "@fontsource/handlee/400.css";
@import "tailwindcss";
@plugin "tailwindcss-animate";

@theme {
	--color-background: oklch(0.9967 0.0054 95.1);
	--color-foreground: oklch(0.145 0 0);
	--font-serif: "Caudex", serif;
	--font-handwritten: "Handlee", cursive;
}
